.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #dc3545;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .sidenav li {
    list-style: none;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidenav li a:hover,
.sidenav li a.active {
  /* background: #1b1b1b; */
  background: #c22131;
}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
  }